<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/css/style.css" />
    <title>Portal do aluno | Escola Joseph Camara - EJC </title>
</head>
<body>
    <div class="container">
        <div class="container_form_page">
            <div class="logo">
                <img src="../public/images/Logo.png" alt="">
            </div>
            <div class="form_field">
                <h1>Portal do Aluno</h1>
                <form action="/dashboard/validation" id="form" method="POST">

                    <div class="input-field-container">
                        <i class="ph-fill ph-user icon"></i>
                        <input type="text" id="username" name="username" value="suporte">
                    </div>

                    <div class="input-field-container">
                        <i class="ph-fill ph-lock icon"></i>
                        <input type="password" id="password" name="password" value="123456" required>
                    </div>

                    <button class="button-submit" type="submit">Acessar</button>
                    
                </form>
           </div>
        </div>
    </div>
    
    <script src="https://unpkg.com/@phosphor-icons/web "></script>
</body>
</html>