<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/css/style.css" />
    <title>Logout | Escola Joseph Camara - EJC </title>
</head>
<body>
    <div class="container">
        <div class="container_form_page">
            <div class="logo">
                <img src="../public/images/Logo.png" alt="">
            </div>
            <div class="form_field">
                <h1>Logout</h1>
                <p class="text-logout">Desconectando em <span id="timeout">5</span></p>
            </div>
        </div>
    </div>
    
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <script> 

        function atualizarContador() {
            let contadorElemento = document.getElementById("timeout");
            let valorAtual = parseInt(contadorElemento.textContent);
    
            // Verificar se o contador chegou a 0
            if (valorAtual > 0) {
                valorAtual--;
                contadorElemento.textContent = valorAtual;
            }
        }
        
        setInterval(atualizarContador, 1000);
    </script>
</body>
</html>
